.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 156px;
  gap: 48px;
}
.services_logo {
  display: flex;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 360px;
  padding: 40px;
  border: 1px solid #ddd;
  gap: 24px;
}
.card-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-title {
  font-size: 31px;
  font-weight: bold;
  text-align: center;
}

.card-text {
  font-size: 16px;
  color: var(--neutral);
  text-align: center;
}
