.home-page{
    margin: auto;
    margin-bottom: 100px;
    justify-content: space-between;
    height: 100vh;
    display: flex;
  }
  .plate-image{
    width: 622px;
    height: 434px;
    margin-right: 75px;
    margin-top: 150px;
    position: relative;
    z-index: 2;
    object-fit: cover;
  }
  .ellipse-orange{
    margin-left: 256px;
    position: absolute;
    z-index: -1;
    margin-top: 0%;
    width: 880px;
    height: 880px;
    flex-shrink: 0;
    top: -15px;
  }
  .home-content{
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 18px;
  }
  .home-content-button{
    display: flex;
    background-color:var(--secondary);
    color: white;
    padding: 20px 40px;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    width: fit-content;
    gap: 0.5rem;
    cursor: pointer;
    border-radius: 100px;
    transition: background-color 0.3s ease;
  }
  .home-content-button:hover{
    background-color: #095352;
  }
/* .home-content-button svg{
  width: 32px;
  height: 32px;
  vertical-align: middle;
  order: -1;
} */

  .home_about_us{
    display: flex;
    gap:86px;
    padding: 64px 156px;
    justify-content: center;
    align-items: center;
  }
  .about_us_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: auto;
  }
  .recipes_home,
  .recipes_home_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
  }
.recipes_button{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.recipe_they_want{
  display: flex;
  justify-content: center;
  padding: 80px 156px;
}
/*Menu Slider in Home page */
.menuSlider{
  display: flex;
  gap: 44px;
}
.menuSlider-Card{
  background-color: whitesmoke;
  border-radius: 30px;

}
.menuSliderImage{
  width: 260px;
  height: 189px;
  flex-shrink: 0;
}
.menuSliderImageDiv{
  display: flex;
  padding: 34px 14px 33px 14px;
}
.menuSliderTextSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.slick-slide >div{
  margin: 0 10px;
}

/*Process Behind The making background*/
.kitchen-show{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url('./homepageImage/kitchen_show.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  color: white;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}
.home-contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  padding: 64px 156px;
}
.home-contact-heading{
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.home-contact-content{
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  contain: content;
  border-radius: 24px;
  box-shadow: 0px 0.221px 2.795px 0px rgba(0, 0, 0, 0.01), 0px 0.532px 6.717px 0px rgba(0, 0, 0, 0.02), 0px 1.002px 12.647px 0px rgba(0, 0, 0, 0.03), 0px 1.787px 22.56px 0px rgba(0, 0, 0, 0.03), 0px 3.342px 42.195px 0px rgba(0, 0, 0, 0.04), 0px 8px 101px 0px rgba(0, 0, 0, 0.05);
}
.home-contact-left{
  display: flex; 
  flex-direction: column;
  padding: 32px;
  align-items:flex-start;
  gap: 40px;
  max-width: 461px auto;
  border-radius: 16px;
  background-color: var(--secondary);
  color: white;
}
.home-contact-right{
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding: 40px 24px;
  background-color: rgb(230, 230, 230);
  border-radius: 16px;
}
.form-text-field{
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  flex-direction: column;
}
.form-input-field{
  display: flex;
  height: 56px;
  padding: 16px 0px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
}