
  .home_about_us{
    display: flex;
    background-color: white;
    gap:86px;
    padding: 64px 156px;
    justify-content: center;
    align-items: center;
  }
  .about_us_content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    height: auto;
  }
  .recipes_home,
  .recipes_home_heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
.recipes_button{
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.recipe_they_want{
  display: flex;
  justify-content: center;
  padding: 80px 156px;
}
/*Menu Slider in Home page */
.menuSlider{
  display: flex;
  gap: 44px;
}
.menuSlider-Card{
  background-color: whitesmoke;
  border-radius: 30px;

}
.menuSliderImage{
  width: 260px;
  height: 189px;
  flex-shrink: 0;
}
.menuSliderImageDiv{
  display: flex;
  padding: 34px 14px 33px 14px;
}
.menuSliderTextSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.slick-slide >div{
  margin: 0 10px;
}

/*Process Behind The making background*/
.kitchen-show{
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent), url('./homepageImage/kitchen_show.jpeg');
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: 100%;
  display: block;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  color: white;
  display: inline-flex;
  flex-direction: column;
  position: relative;
  gap: 10px;
}
.homepage-map{
padding: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;
}
