*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary:#D95103;
  --secondary: #0C6967;
  --neutral:#6B788E;
}
html{
  height: 100%;
  overflow-x: hidden;
}
.neutral-text{
  color: var(--neutral);
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 400;
}
p{
  margin: 3px;
}

.secondary-text{
  color: var(--secondary);
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  margin: 0;
}
.big-text-one{
  font-size: 61px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.big-text-two{
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.big-text-three{
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}